    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default special-op-card">
            <div class="panel-heading">
                <h3 class="panel-title strong"><span class="glyphicon glyphicon-flag icongreen"></span> Crew Heists</h3>
            </div>
            <div class="panel-body">
                <p>Launch a daring raid to scoop up fast cash and respect. Costs <strong>{{heistRespectCost|respect}}</strong> respect.</p>
                <p class="strong" ng-if="heistStatusMessage">{{heistStatusMessage}}</p>
                <p class="text-muted" ng-if="!heistStatusMessage">Your crew is idle and waiting for instructions.</p>
                <div class="mb-10" ng-if="gameModel.heistInProgress">
                    <progressbar animate="false" value="heistProgress"></progressbar>
                    <p class="small text-muted">~{{heistTimeRemaining()}}s remaining</p>
                </div>
                <p class="small text-muted" ng-if="!gameModel.heistInProgress && !heistReady()">Cooldown: {{heistCooldownRemaining()}}s</p>
                <button class="btn btn-default btn-distribution" ng-click="startHeist()" ng-disabled="!heistReady() || gameModel.respect < heistRespectCost">
                    <span class="glyphicon glyphicon-flash icongreen"></span> Launch Heist
                </button>
                <p class="text-danger small mt-10" ng-if="gameModel.respect < heistRespectCost">Earn more respect to convince the crew to move.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default special-op-card">
            <div class="panel-heading">
                <h3 class="panel-title strong"><span class="glyphicon glyphicon-eye-open iconyellow"></span> Undercover Intel</h3>
            </div>
            <div class="panel-body">
                <p>Embed an informant with the cops to slash arrest odds for {{informantDurationSeconds}} seconds.</p>
                <p class="strong" ng-if="informantStatusMessage">{{informantStatusMessage}}</p>
                <p class="text-muted" ng-if="!informantStatusMessage">No informants currently on the payroll.</p>
                <p class="strong text-success" ng-if="informantActive()">Intel active for another {{informantTimeRemaining()}}s.</p>
                <button class="btn btn-default btn-production" ng-click="hireInformant()" ng-disabled="gameModel.cash < informantCashCost || gameModel.respect < informantRespectCost">
                    <span class="glyphicon glyphicon-briefcase icongreen"></span> Bribe Informant (-{{informantCashCost|money}}, -{{informantRespectCost|respect}} respect)
                </button>
                <p class="text-danger small mt-10" ng-if="gameModel.cash < informantCashCost || gameModel.respect < informantRespectCost">You need {{informantCashCost|money}} and {{informantRespectCost|respect}} respect to keep the snitch quiet.</p>
            </div>
        </div>
    </div>
